{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{% block title %}Bubalja's Store{% endblock %}</title>
    <link href="{% static "css/base.css" %}" rel="stylesheet">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    
    {% block script %}
    {% endblock %}

    {% block style %}
    {% endblock %}
  </head>
  <body>
    <div id="header">
      <a href="/" class="logo">Bubalja's Store</a>
    </div>
    <div id="subheader">
      <div class="cart">
         {% with total_items=cart|length %}
          {% if total_items > 0 %}
            장바구니:
            <a href="{% url "cart:cart_detail" %}">
              {{ total_items }}개 상품{{ total_items|pluralize }},
              {{ cart.get_total_price }}원
            </a>
          {% elif not order %}
            장바구니가 비었습니다.
          {% endif %}
        {% endwith %} 

      </div>
    </div>
    <div id="content">
      {% block content %}
      {% endblock %}
    </div>

    <script src="https://cdn.iamport.kr/v1/iamport.js"></script>
    
  </body>
</html>
