{% extends "base.html" %}
{% load static %}

{% block title %} 주문 결재 {% endblock %}

{% block script %}
    <script src="https://cdn.iamport.kr/v1/iamport.js"></script>
    
    <script type = "text/javascript">
       
        csrf_token = '{{csrf_token}}';

        document.addEventListener("DOMContentLoaded", function(e){
            e.preventDefault();
            
            var IMP = window.IMP;
            IMP.init('{{shop_id}}');

            var amount ="{{amount}}";
            var type = "{{type}}";

            var order_id = "{{order_id}}";
            var merchant_id = "{{merchant_id}}";
            var item_name ="{{item_name}}"

            // 결제 정보가 만들어졌으면 iamport로 실제 결제 시도
    
            if (merchant_id !== '') {
                IMP.request_pay({
                    merchant_uid: merchant_id,
                    name: item_name,
                    buyer_name: 'jisungs',
                    buyer_email:'jisungs@gmail.com',
                    amount: amount
                }, function (rsp) {
                    if (rsp.success) {
                        var msg = '결제가 완료되었습니다.';
                        msg += '\n고유ID : ' + rsp.imp_uid;
                        msg += '\n상점 거래ID : ' + rsp.merchant_uid;
                        msg += '\n결제 금액 : ' + rsp.paid_amount;
                        msg += '\n카드 승인번호 : ' + rsp.apply_num;
                        
                        
                        // 결제가 완료되었으면 비교해서 디비에 반영
                        // ImpTransaction(e, order_id, rsp.merchant_uid, rsp.imp_uid, rsp.paid_amount);
                        //ImpValidation(e, order_id, rsp.merchant_uid, rsp.imp_uid, rsp.paid_amount);
                    
                    } else if (rsp.success == false){
                        console.log('결재실패')
                        var url = "{% url 'payment:completed' %}"+"?order_id="+ order_id 
                        return window.location.replace(url)
                        //ImpValidation(e, order_id, rsp.merchant_uid, rsp.imp_uid, rsp.paid_amount);
                    } 
                    else {
                        
                        var msg = '결제에 실패하였습니다.\n';
                        msg += '에러내용 : ' + rsp.error_msg;
                        console.log(msg)
                    }
                });
            }
        });


        function ImpValidation (e, order_id, merchant_id, imp_id,amount){
           // e.preverntDefault();

            console.log("결재 검증후 데이터 베이스 저장")

            fetch("{% url 'payment:validation'%}",{
                method:'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                    'X-CSRFToken': csrf_token
                },

                body: new URLSearchParams({
                    order_id: order_id,
                    merchant_id: merchant_id,
                    imp_id: imp_id,
                    amount: amount})
                   
            })
            .then(rsp => rsp.json())
            .then(data=> {
                if(data.work){
                    //window.location.href = location.origin + '{% url "payment:completed"%}' + '?order_id='+ order_id;
                    var url = "{% url 'payment:completed' %}"+"?order_id="+ order_id
                    return window.location.replace(url)
                }
            })
            .catch(error => {
                if(error.status===404){
                    alert("페이지가 존재하지 않습니다.");
                }else if (error.status === 403){
                    alert("로그인해주세요");
                }else{
                    console.log(error)
                    alert("문제가 발생했습니다. 다시시도해주세요.");
                }
            })
        }
        

    </script>

{% endblock %}


{% block content %}

<h1>결재가 진행중입니다.</h1>

<a class="btn btn-lg btn-primary" href='{% url "shop:product_list" %}'>홈으로 돌아가기</a>
{% endblock %}

